 <div class="header w-100 h-50 position-relative overflow-hidden mt-5 mb-4" id="header">
    <h1 class="text-center w-75 text-white position-absolute header-text">Where to Find $4 Pints in NYC</h1>
    <img class="header-img w-100" src="/images/beerfull.jpg">
</div>

<div class="container mt-5 w-100">
  <div class="row">
    <div class="col-sm-6 mapContainer sticky-top px-3">
        <div id="map" class="w-100"></div>
    </div>
    <div class="col-sm-6 px-3 mt-4" id="barContainer"> 
    </div>  
  </div>
</div>