<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div class="container">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 map-container">
      <div id="map" class=""></div>
    </div>
  </div>
</div>