body {
  margin: 0;
  padding: 0;
}

/*////////////Header//////////////*/
.header {
  z-index: -10;
  overflow: hidden;
}

.header h1 {
  font-size: 3.5rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-img {
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: -70px;
}

#map {
  height: 100vh;
  position: sticky !important; 
  top: 0
}

@media screen and (max-width : 931px) {
  #map {
    height: 40vh;
  }
}

