body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.marker {
  width: 30px;
  height: 38px;
  background-repeat: no-repeat;
  background-image: url('/images/icon.png');
  cursor: pointer;

}

.mapboxgl-popup-content {
  padding: 10px 10px 0px 10px;
}

.info-name {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
}

.info-address {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

#navbarDropdownMenuLink {
  font-weight: 600;
}

#barContainer {
  padding-bottom: 400px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
}

.dropdown-menu a,
.navbar-brand {
  font-size: 1.25em;
}

/*////////////Header//////////////*/
.header {
  z-index: -10;
  overflow: hidden;
}

.header h1 {
  font-size: 6em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-img {
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: -70px;
}

#map {
  height: 100vh;
}

.mapContainer {
  height: 100vh;
  top: 70px;
}

.map-buttons {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 10%;
}

.barDescription {
  font-size: 1.3rem;
}

.bar h2 {
  padding-top: 6rem;
  margin-top: -5rem;
  font-weight: 600;
}

.neighborhood {
  padding: 6rem 0 0.1rem 0;
  margin-top: -5rem;
  font-weight: 600;
  font-size: 3.25rem;
  border-bottom: 2px solid black;
}

.navbar {
  background-color: black;
}

@media screen and (max-width: 931px) {
  #map {
    height: 40vh;
  }

  .mapContainer {
    height: 40vh;
  }

  .header h1 {
    font-size: 1.5em;
  }

  #barContainer {
    padding-bottom: 0;
  }

  .bar {
    padding-top: 27rem;
    margin-top: -26rem;
  }

  .neighborhood {
    padding-top: 28rem;
    margin-top: -27rem;
    font-size: 2.75rem;
  }
}