body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.dropdown-menu a, .navbar-brand {
  font-size: 1.5em;
}
/*////////////Header//////////////*/
.header {
  z-index: -10;
  overflow: hidden;
}

.header h1 {
  font-size: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-img {
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: -70px;
}

#map {
  height: 100vh;
  position: sticky !important; 
  top: 0
}

@media screen and (max-width : 931px) {
  #map {
    height: 40vh;
  }
  .header h1 {
    font-size: 1.5em;
}

