body {
  margin: 0;
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#map {
  width: 45vw;
  height: 50vh;
  position: sticky !important; 
  top: 0
}

.container {
  
}

