body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#navbarDropdownMenuLink {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
}

.dropdown-menu a,
.navbar-brand {
  font-size: 1.25em;
}
/*////////////Header//////////////*/
.header {
  z-index: -10;
  overflow: hidden;
}

.header h1 {
  font-size: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-img {
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: -70px;
}

#map {
  height: 100vh;
}

.mapContainer {
  height: 100vh;
  top: 70px;
}

.barDescription {
  font-size: 1.3rem;
}

.bar h2 {
  padding-top: 6rem;
  margin-top: -5rem;
  font-weight: 600;
}

.neighborhood {
  padding: 6rem 0 0.1rem 0;
  margin-top: -5rem;
  font-weight: 600;
  font-size: 3.25rem;
  border-bottom: 2px solid black;
}

.navbar {
  background-color: black;
}
@media screen and (max-width: 931px) {
  #map {
    height: 40vh;
  }
  .mapContainer {
    height: 40vh;
  }
  .header h1 {
    font-size: 1.5em;
  }
  .bar {
    padding-top: 27rem;
    margin-top: -26rem;
  }
  .bar h2 {
    font-size: 1.5rem;
  }
  .bar p {
    font-size: 1rem;
  }
  .neighborhood {
    padding-top: 28rem;
    margin-top: -27rem;
    font-size: 2rem;
  }
}
